################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ros_pubsub/src/build
/ros_pubsub/src/cpp_pubsub/out/build/x64-Debug (default)
/ros_pubsub/src/install
/ros_pubsub/src/log
/ros_pubsub/src/tmp_install
/rosTraining/build/first_training/ament_cmake_core
/rosTraining/build/first_training/ament_cmake_index/share/ament_index/resource_index
/rosTraining/build/first_training/ament_cmake_environment_hooks
/rosTraining/build/first_training/ZERO_CHECK.vcxproj.user
/rosTraining/build/first_training/ZERO_CHECK.vcxproj.filters
/rosTraining/build/first_training/ZERO_CHECK.vcxproj
/rosTraining/build/first_training/x64
/rosTraining/build/first_training/uninstall.vcxproj.user
/rosTraining/build/first_training/uninstall.vcxproj.filters
/rosTraining/build/first_training/uninstall.vcxproj
/rosTraining/build/first_training/RUN_TESTS.vcxproj.user
/rosTraining/build/first_training/RUN_TESTS.vcxproj.filters
/rosTraining/build/first_training/RUN_TESTS.vcxproj
/rosTraining/build/first_training/Release
/rosTraining/build/first_training/install_manifest.txt
/rosTraining/build/first_training/INSTALL.vcxproj.user
/rosTraining/build/first_training/INSTALL.vcxproj.filters
/rosTraining/build/first_training/INSTALL.vcxproj
/rosTraining/build/first_training/first_training_uninstall.vcxproj.user
/rosTraining/build/first_training/first_training_uninstall.vcxproj.filters
/rosTraining/build/first_training/first_training_uninstall.vcxproj
/rosTraining/build/first_training/first_training.vcxproj.user
/rosTraining/build/first_training/first_training.vcxproj.filters
/rosTraining/build/first_training/first_training.vcxproj
/rosTraining/build/first_training/first_training.sln
/rosTraining/build/first_training/first_training.dir
/rosTraining/build/first_training/first_node.vcxproj.user
/rosTraining/build/first_training/first_node.vcxproj.filters
/rosTraining/build/first_training/first_node.vcxproj
/rosTraining/build/first_training/first_node.dir
/rosTraining/build/first_training/Debug
/rosTraining/build/first_training/CTestTestfile.cmake
/rosTraining/build/first_training/CTestCustom.cmake
/rosTraining/build/first_training/CTestConfiguration.ini
/rosTraining/build/first_training/colcon_command_prefix_build.bat.env
/rosTraining/build/first_training/colcon_command_prefix_build.bat
/rosTraining/build/first_training/colcon_build.rc
/rosTraining/build/first_training/cmake_install.cmake
/rosTraining/build/first_training/cmake_args.last
/rosTraining/build/first_training/CMakeCache.txt
/rosTraining/build/first_training/ament_cmake_uninstall_target
/rosTraining/build/first_training/ament_cmake_package_templates
/rosTraining/build/first_training/ALL_BUILD.vcxproj.user
/rosTraining/build/first_training/ALL_BUILD.vcxproj.filters
/rosTraining/build/first_training/ALL_BUILD.vcxproj
/rosTraining/build/COLCON_IGNORE
/rosTraining/build/.built_by
/rosTraining/build/first_training/CMakeFiles
/rosTraining/log
/rosTraining/install
/rosTraining/src/first_training/out/build/x64-Debug (default)
/.vs/ROS/v16
/.vs
